@section Scripts{
    <!-- Flot -->
    <script src="~/lib/flot/jquery.flot.js"></script>
    <script src="~/lib/flot/jquery.flot.pie.js"></script>
    <script src="~/lib/flot/jquery.flot.time.js"></script>
    <script src="~/lib/flot/jquery.flot.stack.js"></script>
    <script src="~/lib/flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/lib/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/lib/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/lib/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/lib/DateJS/build/date.js"></script>
    <script src="~/app/controllers/home/index.js" asp-append-version="true"></script>
    <script>
        var homeObj = new HomeController();
        homeObj.initialize();
    </script>
}
<div class="row top_tiles">
  
</div>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Biểu đồ hóa đơn đặt hàng </h2>
                <div class="filter">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="demo-container" style="height:280px">
                        <div id="chart_plot_02" class="demo-placeholder"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Biểu đồ người dùng </h2>
                <div class="filter">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="demo-container" style="height:280px">
                        <div id="chart_user" class="demo-placeholder"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

